
@import '/src/variables';

.category-page {
    .loader-wrap {
        min-height: 80vh;
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
}

.category-page-content {
    -webkit-animation: fadein .8s;
    -moz-animation: fadein .8s;
    -ms-animation: fadein .8s;
    -o-animation: fadein .8s;
    animation: fadein .8s;
}