
@import '/src/variables';

.about-us-page-section {
    -webkit-animation: fadein .8s;
    -moz-animation: fadein .8s;
    -ms-animation: fadein .8s;
    -o-animation: fadein .8s;
    animation: fadein .8s;
}


.image-card-wrapper {
    height: 400px;
}